html{
    width: 100%;
    height: 100%;
}

body{
    padding: 0px;
    margin:0px;
    font-size:16px;
    font-family:'Segoe UI', sans-serif;
    color:#202020;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:unset;
}
ul{
    list-style: none;
    padding:0px;
    margin:0px;
}

/* presets */
.green{
    color: #0ecd00;
}
.text-center{
    text-align: center;
}

.group-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*home page*/
.home-page{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}

.home-page-container{
    max-width: 550px;
}

.hp-sections{
    display: flex;
    gap: 10px;
}
.hp-section-item{
    text-decoration: underline;
}

.hp-section-item:hover{
    color:#0ecd00;
}
/* default */
.header{
    padding: 18px 20px 15px 20px;
    border-bottom: 1px solid #eee;  
}

.header-top{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.logo{
    font-weight: bold;
    font-size: 22px;
    color:#303030;
}
.area-servico{
    margin-left: auto;
    color:#aaa;
}

.nav-items{
    display: flex;
    gap: 6px;
}

.nav-item{
    background-color: #eee;
    border-radius: 12px;
    padding: 2px 12px;
    color:#909090;
    cursor: pointer;
    display: flex;
}

.nav-item-active{
    background-color: #0ecd00;
    color:white;
}

.main-content{
    padding: 0px 20px 20px 20px;
}


/*table */
table{
    border-spacing: 0px;
    font-size: 15px;
}

thead td{
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 6px;
}
tbody td{
    padding: 6px;
    cursor: pointer;
   border-bottom:1px solid #eee; 
}

tbody tr:hover td{
background-color: #fafafa;
}

.btn-cadastrar{
    padding: 4px 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: block;
    width: fit-content;
    background: #3d5dff;
    color:white;
    font-size: 14px;
    cursor: pointer;
}

/*forms*/


.frm{
    max-width: 280px;
    margin: 0px auto;
}

.label, .input{
    display: block;
}


.label{
    margin-bottom:6px;
}

.input{
    border: 1px solid #aaa;
    border-radius: 6px;
    width: 100%;
    padding: 6px 12px;
    background: #eee;
    margin-bottom: 10px;
}
.input:focus{
    border-color: transparent;
    outline: 1px solid #0ecd00;
}

.submit{
    background: #3d5dff;
    color:white;
    border:none;
    outline: none;
    padding: 8px 12px;
    border-radius: 6px;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
}

.submit:hover{
    background: #3453eb;

}

.btn-delete{
    background: #ff2020;
    color:white;
    border-radius: 8px;
    padding: 4px 8px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-delete:hover{
    background: #ec2222;
}